<html>
  <head></head>
  <body>
    Hello!
    <br />
    <br />
    Thank you for registering in ou.<br />
    Click on the link to confirm your account.<br />
    <br />
    {{confirm_url}}
  </body>
</html>